@import "bootstrap/bootstrap.less";

// Header styles
.masthead {
  width: 960px;
  margin: auto;
  
  h6 {
    text-align: right;
    margin-right: 85px;
  }
  h1 {
    font-size: 364px;
    line-height: 285px;
    text-align: center;
    
  }
}
.sticky-nav {
  padding-top: 100px;
  padding-bottom: 50px;
  .nav > li > a {
    font-size: 39px;
    font-weight: bold;
    line-height: 50px;
  }
}