@import "bootstrap/bootstrap.less";

.masthead {
  padding-top: 20px;
  width: 1083px;
  margin: auto;
  
  h6 {
    text-align: right;
    margin-right: 113px;
  }
  h1 {
    font-size: 400px;
    line-height: 313px;
    text-align: center;
    
  }
}
.sticky-nav {
  padding-top: 100px;
  padding-bottom: 50px;
  .nav > li > a {
    font-size: 39px;
    font-weight: bold;
    line-height: 50px;
  }
}