@import "bootstrap/bootstrap.less";
body {
  background: #EFEFEF;
}
.masthead {
  padding-top: 20px;
  width: 1083px;
  margin: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  h6 {
    text-align: right;
    margin-right: 113px;
  }
  h1 {
    font-size: 400px;
    line-height: 313px;
    text-align: center;
    
  }
}
.sticky-nav {
  padding-top: 100px;
  padding-bottom: 50px;
  .nav > li > a {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
  }
}

.rush-day {
  td:first-child {
    width: 100px;
  }
  td:nth-child(2) {
    width: 200px;
  }
}


  


section {
  padding-bottom: 40px;
  overflow: hidden;
}

.brothers {
  width: 780px;
  margin: auto;
  .brother-box {
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
}
.box {
  background: #EFEFEF;
  padding: 40px 0;
  .chunk {
    padding: 20px 0;
    h3 {
      text-align: center;
      padding-bottom: 10px;
    }
  }
}